# --- SERVIDOR ---
PORT=3000
NODE_ENV=development

# --- BASE DE DATOS ---
MONGO_URI=mongodb://localhost:27017/securecollab

# --- SEGURIDAD Y JWT ---
JWT_SECRET=tu_secreto_aqui
JWT_REFRESH_SECRET=tu_refresh_secreto_aqui

# Clave criptográfica para AES-256-GCM (Generar 32 bytes en HEX)
ENCRYPTION_KEY=placeholder_genera_tu_propia_clave_hex_de_64_caracteres

# --- FRONTEND ---
FRONTEND_URL=http://localhost:5173