# --- SERVIDOR ---
PORT=3000
NODE_ENV=development

# --- BASE DE DATOS ---
MONGO_URI=mongodb://localhost:27017/securecollab

# --- SEGURIDAD Y JWT ---
JWT_SECRET=tu_secreto_aqui
JWT_REFRESH_SECRET=tu_refresh_secreto_aqui

# --- CIFRADO (AES-256-GCM) ---
ENCRYPTION_KEY=tu_clave_de_32_bytes_hex_aqui

# --- FRONTEND ---
FRONTEND_URL=http://localhost:5173